@font-face {
  font-family: "museo";
  src: url(../fonts/museosanscyrl/MuseoSansCyrl.otf);
}

@font-face {
  font-family: "helvetica-light";
  src: url(../fonts/HelveticaNeue-Light/HelveticaNeue-Light.ttf);
}

@font-face {
  font-family: "helvetica-bold";
  src: url(../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf);
}

@font-face {
  font-family: "helvetica-med";
  src: url(../fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.ttf);
}

@font-face {
  font-family: "helvetica-reg";
  src: url(../fonts/HelveticaNeue-Regular/HelveticaNeue.ttf);
}

html {
  /* background-image: url(../fp.png);
  background-size: cover;
  opacity: 0.3; */
}

.wrapper {
  /* opacity: 0.5; */
  display: flex;
  flex-direction: row;
  background-image: url("../img/leftbgwide.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

.help, .form {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-image: url("../img/right.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  position: relative;
  font-family: "museo";
  font-size: 40px;
  color: #a4b9e3;
  font-weight: 300;
  left: 38px;
}

.logo::before {
  position: absolute;
  content: "";
  width: 58px;
  height: 42px;
  left: -68px;
  top: 0px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.help__about {
  font-family: "helvetica-light";
  color: #ebf0f9;
  font-size: 28px;
  margin-top: 67px;
}

.help__link {
  font-family: "helvetica-light";
  font-size: 27px;
  margin-right: 44px;
  padding-top: 44px;
}

.help__link span {}

.help__text {
  padding-top: 145px;
  text-align: center;
}

.help__btn {
  font-size: 20px;
  background-color: #7d94d3;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  font-family: "helvetica-bold";
  border-radius: 5px;
  transition: box-shadow 0.4s;
}

.help__btn:hover {
  -webkit-box-shadow: 0px 0px 17px 1px rgba(91, 116, 190, 1);
  -moz-box-shadow: 0px 0px 17px 1px rgba(91, 116, 190, 1);
  box-shadow: 0px 0px 17px 1px rgba(91, 116, 190, 1);
}

.welcome {
  font-family: "helvetica-med";
  font-size: 50px;
  text-align: left;
  margin-bottom: 11px;
}

.registry {
  font-family: "helvetica-reg";
  font-size: 26px;
  color: #565e78;
}

.form__entry {
  margin-bottom: 40px;
}

.form__items input {
  color: white;
  font-family: "helvetica-med";
  font-size: 27px;
  margin-bottom: 40px;
  padding: 25px 0;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #2f364f;
}

.form__items input::placeholder {
  font-family: "helvetica-med";
  font-size: 27px;
  color: #565e78;
}

.form__password, .form__input:focus {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #00be98;
}

.form__password:focus {
  border-bottom: 1px solid #00bdff
}

.form__items {
  max-width: 60%;
}

.form__sign-in {
  position: relative;
  top: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  padding: 23px 0;
  text-align: center;
  font-family: "helvetica-bold";
  font-size: 19px;
  background: linear-gradient(to right, rgba(15, 87, 169, 1) 0%, rgba(91, 145, 196, 1) 59%, rgba(143, 186, 214, 1) 100%);
}

.reset__password {
  position: relative;
  top: 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  padding: 23px 0;
  text-align: center;
  font-family: "helvetica-bold";
  font-size: 24px;
  background: linear-gradient(to right, rgba(15, 87, 169, 1) 0%, rgba(91, 145, 196, 1) 59%, rgba(143, 186, 214, 1) 100%);
}

.reset__password:focus, .form__sign-in:focus {
  outline: none;
}

.form__sign-in span {
  position: relative;
  text-transform: uppercase;
}

.form__sign-in span::after {
  content: "";
  width: 30px;
  right: -45px;
  height: 20px;
  top: 0;
  position: absolute;
  display: block;
  background-image: url("../img/right-arrow.png")
}

.forget__pswrd {
  margin-top: 73px;
  font-family: "helvetica-reg";
  font-size: 25px;
  font-weight: bold;
  color: #565e78;
}

.forget__pswrd button {
  font-family: "helvetica-reg";
  font-size: 23px;
  text-decoration: none;
  color: #2f70b2;
}

.back {
  position: relative;
  cursor: pointer;
}

.back::before {
  position: absolute;
  content: "";
  display: block;
  width: 42px;
  height: 34px;
  background-image: url("../img/left-arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.forgot {
  font-family: "helvetica-med";
  font-size: 48px;
  text-align: left;
  margin-bottom: 92px;
  margin-top: 37%;
}

.tab {
  display: none;
}

.show {
  display: block;
}

.form__items .tab:nth-child(2) {
  position: relative;
  bottom: 200px;
}

.form__input.invalid {
  border-color: red;
}

.form__input:valid {
  border-color: #00be98;
}

.form__password:valid {
  border-color: #00bdff;
}

@media(min-width:1440px) {
  .form__items {
    margin-right: 35px;
    min-width: 45%;
    padding-top: 193px;
  }
}

@media(max-width:1050px) {
  .wrapper {
    display: block;
  }
  .form, .help {
    width: 100%;
  }
  .help {
    box-sizing: border-box;
    padding: 0 20px;
    background-image: url("../img/leftbg.png");
    background-size: cover;
  }
  .form {
    padding: 50px 0;
    background: #10172f
  }
  .help__link {
    margin-right: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .help__link .help__btn:nth-child(1) {
    margin-bottom: 10px;
  }
  .help__link span {
    margin: 10px;
  }
  .form__items .tab:nth-child(2) {
    position: static;
  }
  .form__items {
    width: 100%;
  }
}